.general {
    color:#000 !important;
    background-color:#f5f7f8 !important;
    font-family: "Open Sans", sans-serif !important;
    font-size: 15px;
    line-height: 1.5;
    margin: 0;
}
.navbar-default .navbar-nav>li>a {
    color: white;
}
.home{
    color: #fff !important;
    background-color: #e86100 !important;
}
.navbar-brand{
    color: white !important;
}
.right{
    float : right !important;
}
.left{
    float : left!important;
}
.white{
    color: white !important;
}
.black{
    color: black;
}
.center{
    text-align: center;
}
.top{
    margin-bottom: 80px;
}
.iconform{
    font-size: 34px;
}
.eight{
    margin-left: 5%;
    margin-right: 5%;
    width: 90% !important;
    object-position: center;
}

.inscription{
     width: 90% !important;
    float: right
}

.bresson{
    text-decoration-color: white;
    color: #fff !important;
    background-color: #ffb200 !important;
}

.connexion{
    box-sizing:border-box;
    color:rgb(0, 0, 0);
    display:block;
    height:318.281px;
    padding-bottom:0.15px;
    padding-left:16px;
    padding-right:16px;
    padding-top:0.15px;
    text-size-adjust:100%;
}

.circle-multiline {
    display: table-cell;
    height: 450px;
    width: 450px;
    padding: 7%;
    text-align: center;
    vertical-align: middle;
    border-radius: 50%;
    background: #ffb200 ;
    border-color: #e86100;
    border: 20px;
    color: #e86100;
    margin: auto;
    position: relative;
    object-position: center;
}
.padnull{
    padding: 0px;
}

.pad{
    padding: 5px;
}
.mar{
    margin-bottom: 20px;
}
.line{
    border: 10px;
    border-color: #e86100;
    background-color:#e86100;
    margin-top: 200px;
    height: 100px;
}
.full{
    height: 600px;
    background-color: beige;
}
.none{
    margin: 0px;
}

.contour{
    border: 20px;
}

.photo{
    margin: 80px;
    background-color: aqua;
}

.info{
    color: rgb(125,125,125);
    font-weight:300;
}

.event{
    border-bottom: solid 1px rgb(225,225,225);
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
}

.picture{
    max-height: 400px;
}

.add-event,
.profile-hero{
    background-color:white;
    border-radius:5px;
    padding:10px;
    width:100%;
}

.events{
    border-left: solid 1px rgb(225,225,225);
    padding:20px;
}

.title{
    text-align:center;
}

.ami{
    background-color: rgb(225,225,225);
    border-radius: 5px;
    padding:10px;
    width:100%;
}

.pics{
    height: 300px;
    width: 300px;
}

.bg{
    background-color: rgba(255,255,255,0.3);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}

.midleft{
    width: 80%;
    float: left;
}
.btn_summit{
    width: 18%;
}

.like:hover{
    color: blue;
}
.love:hover{
    color:red;
}
.smile:hover{
    color: yellow;
}
.dislike:hover{
    color:black;
}
