*, *:before, *:after {
    box-sizing: inherit;
}
    
.general {
    color:#000 !important; 
    background-color:#f5f7f8 !important;
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    line-height: 1.5;
    margin: 0;
}

.right{
    float : right !important;
}

.searchbar{
    color: #ffb200 !important;
    background-color:#fff !important;
    cursor: auto !important;
}
.searchbar:hover{
    color: #fff !important;
    background-color:#ffd600 !important;
}

.bresson{
    color: #fff !important;
    background-color: #ffb200 !important;
}


.icon_home{
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    white-space: normal;
    float: left;
    width: auto;
    border: none;
    outline: none;
    display: block;
    color: #fff;
    background-color: #e86100;
    padding: 12px 24px!important;
    text-align: center;
    cursor: pointer;
    margin: 0px !important;
}
.icon_home:hover{
    color: #ffb200!important;
    background-color: #fff!important;
}

.container{
    max-width: 1400px;
    margin-top: 80px !important;
    padding: 0.01em 16px;
    height: 80%;
    margin: auto;
}

.container:before{
    content: "";
    display: table;
    clear: both;}

.connexion{
    box-sizing:border-box;
    color:rgb(0, 0, 0);
    display:block;
    height:318.281px;
    padding-bottom:0.15px;
    padding-left:16px;
    padding-right:16px;
    padding-top:0.15px;
    text-size-adjust:100%;
}

#nav{
    text-align: left!important;
    font-size: 18px!important;
    width: 100%;
    overflow: hidden;
}


.wrapper {	
	margin-top: 80px;
  margin-bottom: 80px;
}

.form-signin {
  max-width: 380px;
  padding: 15px 35px 45px;
  margin: 0 auto;
  background-color: #fff;
    border: 1px solid rgba(0,0,0,0.1); } 

  .form-signin-heading,
	.checkbox {
	  margin-bottom: 30px;
	}

	.checkbox {
	  font-weight: normal;
	}

	.form-control {
	  position: relative;
	  font-size: 16px;
	  height: auto;
	  padding: 10px;
		@include box-sizing(border-box);

		&:focus {
		  z-index: 2;
		}
	}

	input[type="text"] {
	  margin-bottom: -1px;
	  border-bottom-left-radius: 0;
	  border-bottom-right-radius: 0;
	}

	input[type="password"] {
	  margin-bottom: 20px;
	  border-top-left-radius: 0;
	  border-top-right-radius: 0;
	}
}
